/* Coolors Exported Palette - coolors.co/ffffff-00171f-003459-007ea7-00a8e8 */
/* RGB */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

.menuDiv {
  position: fixed;
  z-index: 99;
  top: 20%;
  left: 0;
  width: 100vw;
  background: #007ea7;
}

.menuDiv ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  color: #00171f;
}

.menuDiv ul li {
  width: 50%;
  margin: 20px 0;
}

.menuDiv ul li a {
  color: #00171f;
  font-size: 2.5rem;
  text-decoration: none;
}
